$navbar-width: 300px;
$accent-color: #2980b9;
$grey-color-dark-1: #343131;
$grey-color-dark-2: #4e4a4a;
$grey-color-light-1: #d6d6d6;
$grey-color-light-2: #eee;

$page-color: #fcfcfc;

@import "fonts";
@import "navigation";
@import "prettify";

body {
    padding: 0;
    margin: 0;
    font-family: "Lato";
    font-size: 16px;
    line-height: 1.5;
    color: #4d4e53;
    background-color: #fff;
}

* {
    box-sizing: border-box;
}

a,
a:visited,
a:active {
    color: $accent-color;
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

h1, h2, h3, h4 {
    font-family: "Roboto Slab";
    margin: 0;
    font-weight: bold;
}

h1 {
    font-size: 1.5rem;
    letter-spacing: -2px;
}

h2 {
    font-size: 1rem;
}

h3 {
    font-size: 1rem;
    font-weight: bold;
}

h4 {
    font-size: 1rem;
    color: #4d4e53;
}

h5 {
    font-size: 1rem;
}

header {
    display: block;

    h2 {
        font-size: 1.5rem;
        margin-bottom: 0;
    }

    .class-description {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

        p {
            margin-top: 0;
        }
    }
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e1e4e5;
    margin: 24px 0;
    padding: 0;
}

article {
    dl {
        margin-bottom: 40px;
    }

    p {
        margin: 1rem 0;
    }
}

section {
    display: block;
    padding: 12px 24px;
}

table {
    border-spacing: 0;
    border: 1px solid #efefef;
    border-collapse: collapse;
    font-size: 0.9rem;

    td, th {
        margin: 0;
        text-align: left;
        vertical-align: top;
        padding: 5px 6px;
        display: table-cell;
    }

    thead tr {
        background-color: #efefef;
        border-bottom: 1px solid #ddd;
        font-weight: bold;

        th {
            border-right: 0;
        }
    }
}

.main-container {
    margin-left: $navbar-width - 8px;
    background: $page-color;
    min-height: 100%;

    .content {
        padding: 1rem 3rem;
        background: #fcfcfc;
        min-height: 100%;
        max-width: 850px;

        table {
            width: 100%;
        }

        // Breadcrumbs at the top of the page.
        .breadcrumbs {
            list-style: none;
            padding: 0;
            margin: 0;
            padding-bottom: 20px;

            li {
                float: left;
                padding: 5px 5px;
            }
        }

        footer {
            display: block;
            font-style: italic;
            font-size: 90%;
        }
    }
}

.class-description {
    font-size: 1rem;
    line-height: 140%;
    margin-bottom: 1em;
    margin-top: 1em;
}

.class-description:empty {
    margin: 0;
}


.variation {
    display: none;
}

.signature-attributes {
    font-size: 60%;
    color: #aaa;
    font-style: italic;
    font-weight: lighter;
}

.ancestors {
    color: #999;

    a {
        color: #999;
        text-decoration: none;
    }
}

.clear {
    clear: both;
}

.important {
    font-weight: bold;
    color: #950b02;
}

.yes-def {
    text-indent: -1000px;
}

.type-signature {
    color: #aaa;
}


.details {
    margin-top: 14px;
    border-left: 1px solid #ddd;

    dt {
        width: 120px;
        float: left;
        padding-left: 10px;
        padding-top: 6px;
    }

    ul {
        list-style-type: none;
        margin: 0;
    }

    li {
        margin-left: 30px;
        padding-top: 6px;
    }

    .object-value {
        padding-top: 0;
    }
}

.description {
    margin-bottom: 1em;
    margin-top: 1em;
}

.code-caption {
    font-style: italic;
    font-size: 107%;
    margin: 0;
}

.params .name,
.props .name,
.name code {
    color: #4d4e53;
    font-size: 100%;
}

.params td.description > p:first-child,
.props td.description > p:first-child {
    margin-top: 0;
    padding-top: 0;
}

.params td.description > p:last-child,
.props td.description > p:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.disabled {
    color: #454545;
}


.subsection-title {
    font-size: 1rem;
    margin: 0;
    margin-top: 3rem;

    i {
        position: absolute;
        margin-left: -1.7rem;
        margin-top: 0.1rem;
        font-size: 1.2rem;
    }
}


// Remove from layout.
.hidden {
    display: none;
}

// Still renders in the DOM.
.invisible {
    opacity: 0;
}


// Used in the container template.
dt {
    h4.name {
        color: #fff;
        background: $accent-color;
        box-shadow: 0 0.25em 0.5em #d3d3d3;
        border-top: 1px solid #d3d3d3;
        border-bottom: 1px solid #d3d3d3;
        padding: .75em 0 .75em 10px;
        margin-top: .5rem;

        .signature {
            color: lighten($accent-color, 30%);
            padding-left: 10px;
        }

        a {
            font-size: 0.8rem;
            margin-left: 1rem;
            color: #fff;
            font-style: italic;
        }
    }
}

dd {
    margin-left: 0;
}

// The parameters header of a function.
.container-returns,
.container-params {
    h5 {
        margin: 1.5rem 0 0.3rem 0;
    }
}
