@import "search";

nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: $navbar-width;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 100%;
    background: #343131;
    z-index: 200;

    > * {
        user-select: none;
    }


    // Hides the scrollbar from the nav, but still allows scrolling the
    // navbar with the wheel.
    .scroll {
        width: $navbar-width + 20px;
        position: relative;
        overflow-x: hidden;
        overflow-y: scroll;
        height: calc(100% - 235px);
    }

    ul.nav-items {
        line-height: 17px;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    // The tabs elements to navigate.
    .nav-main {
        padding-top: 10px;
        text-align: center;
        height: 50px;

        .link {
            color: $grey-color-light-1;
        }
    }

    // The headers for the type item lists(modules/classes/...).
    h3 {
        line-height: 1.5rem;
        color: #555;
        margin: 0;
        margin-top: 10px;
        margin-left: 0.5rem;
        text-transform: uppercase;
    }

    // The container for the nav-api and nav-manuals tabs.
    .nav-tab {
        text-align: center;
        margin: 0;
        height: 40px;

        li {
            display: inline-block;
            padding: 0.5rem;

            &.selected {
                a h4 {
                    color: $grey-color-light-1;
                }
            }
        }
    }


    // The api items container.
    .nav-api {
        h3 {
            font-size: 0.85rem;
            margin: .5rem 0.4rem;
        }
    }

    //The listed nav items, e.g. classes and modules.
    .nav-item {
        a,
        a:visited,
        a:active {
            font-size: 0.9rem;
            line-height: 18px;
            padding: .2rem;
            padding-left: 1.5rem;
            color: #b3b3b3;
            display: block;
        }

        // A selected main navigation item.
        a.selected,
        a.selected:hover {
            background: $page-color;
            color: $grey-color-dark-1;
            font-weight: bold;
        }

        a:hover {
            background: $grey-color-dark-2;
        }

        // Submenu is collapsed; not the selected one.
        // Set the navigation menu item to semi-selected.
        span.fa-minus  + a:not(.selected) {
            background: $grey-color-light-1;
            color: $grey-color-dark-1;
            font-weight: bold;
        }
    }

    // Subitems in the navigation.
    .nav-item-sub {
        background: $grey-color-light-2;

        .member-type {
            padding: 0.2rem 0;
            font-size: 0.9rem;
            margin-left: 1.5rem;
            color: $accent-color;
            font-weight: normal;
            cursor: text;
        }

        .inner {
            li {
                margin: 0;
                border-bottom: 0;
                padding-top: 0;
                padding-bottom: 0;
                color: #bbb;
            }

            a {
                padding-left: 1.8rem;
                color: $grey-color-dark-2;

                &:hover {
                    background: $grey-color-light-1;
                }
            }
        }
    }


    // The plus/minus sign next to each navigation item with children.
    span.toggle-subnav {
        font-size: 10px;
        position: absolute;
        width: 18px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        left: 2px;

        &:hover {
            outline: 0;
            color: $grey-color-light-1;
            cursor: hand;
        }
    }

    .version {
        color: #aaa;
    }
}




// Copied and modified from:
// https://github.com/clenemt/docdash/blob/master/static/styles/jsdoc.css
.navicon-button {
    display: none;
    position: relative;
    padding: 2 1.5rem;
    transition: 0.25s;
    cursor: pointer;
    user-select: none;
    opacity: .8;
}

.navicon-button .navicon:before, .navicon-button .navicon:after {
    transition: 0.25s;
}

.navicon-button:hover {
    transition: 0.5s;
    opacity: 1;
}

.navicon-button:hover .navicon:before, .navicon-button:hover .navicon:after {
    transition: 0.25s;
}

.navicon-button:hover .navicon:before {
    top: .825rem;
}

.navicon-button:hover .navicon:after {
    top: -.825rem;
}


.navicon {
    position: relative;
    width: 2.5em;
    height: .3125rem;
    background: $accent-color;
    transition: 0.3s;
    border-radius: 2.5rem;
    box-shadow: 1px 1px 2px #000;

    &:before,
    &:after {
        display: block;
        content: "";
        height: .3125rem;
        width: 2.5rem;
        background: $accent-color;
        position: absolute;
        z-index: -1;
        transition: 0.3s 0.25s;
        border-radius: 1rem;
        box-shadow: 1px 1px 2px #000;
    }

    &:before {
        top: .625rem;
    }

    &:after {
        top: -.625rem;
    }

}


// Open.
.nav-trigger:checked + label:not(.steps) .navicon:before,
.nav-trigger:checked + label:not(.steps) .navicon:after {
    top: 0;
}

.nav-trigger:checked + label .navicon:before,
.nav-trigger:checked + label .navicon:after {
    transition: 0.5s;
}

// Minus.
.nav-trigger:checked + label {
    transform: scale(0.75);
}

// × and +.
.nav-trigger:checked + label.plus .navicon,
.nav-trigger:checked + label.x .navicon {
    background: transparent;
    box-shadow: none;
}

.nav-trigger:checked + label.plus .navicon:before,
.nav-trigger:checked + label.x .navicon:before {
    transform: rotate(-45deg);
    background: #fff;
}

.nav-trigger:checked + label.plus .navicon:after,
.nav-trigger:checked + label.x .navicon:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #fff;
}

.nav-trigger:checked + label.plus {
    transform: scale(0.75) rotate(45deg);
}

.nav-trigger:checked ~ nav {
    left: 0;
}

.nav-trigger:checked ~ .overlay {
    display: block;
}

.nav-trigger {
    position: fixed;
    top: 0;
    clip: rect(0, 0, 0, 0);
}

// The overlay behind the navigation when the mobile navigation is active.
.overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.5);
    z-index: 1;
}

@media only screen and (min-width: 320px) and (max-width: 680px) {
    body {
        overflow-x: hidden;

        // Expand the content area and undo the major margin-left.
        .main-container {
            margin-left: 0;

            .content {
                width: 100%;
                margin: 0;
                padding: 0.5rem;
            }
        }
    }

    nav {
        width: calc(100% - 100px);
        left: calc(-100% - 100px);
        z-index: 3;
        transition: left 0.2s;

        .scroll {
            width: calc(100% + 20px);
            position: relative;
            overflow-x: hidden;
            overflow-y: scroll;
            height: calc(100% - 235px);
        }
    }


    .navicon-button {
        display: inline-block;
        position: fixed;
        top: 1.5em;
        right: 0;
        z-index: 2;
    }


    footer {
        margin-left: 0;
    }
}

@media only screen and (min-width: 680px) {
    body {
        .main-container {
            // Make sure the overlay hides, when the navigation is triggered
            // and we switch back to regular wide-screen style.
            .nav-trigger:checked ~ .overlay  {
                display: none;
            }
        }
    }
}
